@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card" style=" margin-top: 20px">
    <div class="card-header">
        <h1>Calculator </h1>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <div class="row">
                    <label asp-for="@Model.calculatorDTO.NumberA" class="col-lg-2"></label>
                    <input type="number" asp-for="@Model.calculatorDTO.NumberA" class="col-lg-2" />
                </div>
                <div class="row">
                    <label asp-for="@Model.calculatorDTO.NumberB" class="col-lg-2"></label>
                    <input type="number" asp-for="@Model.calculatorDTO.NumberB" class="col-lg-2" />
                </div>

                <div class="row">
                    <label asp-for="@Model.calculatorDTO.Operation" class="col-lg-2"></label>
                    <select asp-for="@Model.calculatorDTO.Operation" asp-items="@Model.Operations"></select>
                </div>
                
                @*<div class="row">
                    <label asp-for="OperationType" class="col-lg-2"></label>
                    <select asp-for="OperationType" class="col-lg-2" asp-items="Html.GetEnumSelectList<EnumOperationType>()">
                    </select>
                </div>*@

                <div class="row">
                    <input type="submit" value="Submit" asp-action="Index" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">

        <div class="row">
            <label asp-for="@Model.calculatorDTO.Result" class="col-lg-2"></label>
            <input type="number" disabled="disabled" class="col-lg-2" asp-for="@Model.calculatorDTO.Result" />
        </div>
    </div>

</div>

